# Definitions

In [2]:
PAGE = 'https://www.tee-on.com/'

# Imports

In [3]:
import selenium
from bs4 import BeautifulSoup

# Setup scraper

In [4]:
from selenium import webdriver
driver = webdriver.Chrome()

In [5]:
driver.get(PAGE)

# Scrape

In [7]:
soup = BeautifulSoup(source, 'html.parser')
soup.prettify()

NameError: name 'source' is not defined

# Functions

In [42]:
def reformatTeeTime(time):
    if ':' not in time:
        time += ':00'
        
    # strip any am or pm extension
    time = time.strip('am')
    time = time.strip('pm')
    time = time.strip(' ')
        
    # put time on 24 hour clock
    hour = int(time.split(":")[0])
    minute = int(time.split(":")[1])
    if hour < 7:
        hour += 12
        time = str(hour) + ':' + str(minute).zfill(2)
        
    return time
reformatTeeTime('7:15')
reformatTeeTime('11:52 am')

'11:52'

In [43]:
from datetime import datetime

def calculateTimeDiff(time1, time2):
    time1 = reformatTeeTime(time1)
    time2 = reformatTeeTime(time2)
    
    hour1 = int(time1.split(':')[0])
    hour2 = int(time2.split(':')[0])
    
    minute1 = int(time1.split(':')[1])
    minute2 = int(time2.split(':')[1])
    
    diff = (hour2-hour1)*60 + (minute2-minute1)
    
    return diff
    
    
now = datetime.now()

calculateTimeDiff(now.strftime("%H:%M"), '11:52 am')

-393

In [40]:
import pandas as pd

fake_times = ['8:30', '8:40', '10:00', '12:15']

desired_time = '8'

good_times = pd.DataFrame(columns=["time", "dt"])
for time in fake_times:
    dt = abs(calculateTimeDiff(desired_time, time))
    
    if dt < 60:
        print(time, dt)
        good_times = good_times.append({"time": time, "dt": dt}, ignore_index=True)

good_times.head()

8:30 30
8:40 40

   time  dt
0  8:30  30
1  8:40  40

In [51]:
df = pd.read_csv('../test.csv')
df.drop(['Unnamed: 0'], axis=1)
df.head()

   Unnamed: 0      time  dt
0           0  11:07 am -23
1           1  11:15 am -15
2           2  11:22 am  -8
3           3  11:30 am   0
4           4  11:37 am   7

In [90]:
lowest_dt = df['dt'].abs().astype(int).idxmin()

times = []
# try from lowest dt first
for i in range(lowest_dt, df['dt'].count()-1):
    if df['dt'][i] - df['dt'][i+1] < 10:
        times.append(df['time'][i])
    print(i)

df['dt'].count()

3
4
5
6

7